AnjukeBroker_New.xcodeproj/project.xcworkspace/xcuserdata/jianzhongliu.xcuserdatad/UserInterfaceState.xcuserstate
AnjukeBroker_New.xcodeproj/project.xcworkspace/xcuserdata/paper.xcuserdatad/UserInterfaceState.xcuserstate
.git/*
.DS_Store
