<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Shi</key>
	<array>
		<dict>
			<key>Title</key>
			<string>1室</string>
			<key>Value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>2室</string>
			<key>Value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>3室</string>
			<key>Value</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>4室</string>
			<key>Value</key>
			<string>4</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>5室</string>
			<key>Value</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>6室</string>
			<key>Value</key>
			<string>6</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>7室</string>
			<key>Value</key>
			<string>7</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>8室</string>
			<key>Value</key>
			<string>8</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>9室</string>
			<key>Value</key>
			<string>9</string>
		</dict>
	</array>
	<key>Ting</key>
	<array>
		<dict>
			<key>Title</key>
			<string>0厅</string>
			<key>Value</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>1厅</string>
			<key>Value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>2厅</string>
			<key>Value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>3厅</string>
			<key>Value</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>4厅</string>
			<key>Value</key>
			<string>4</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>5厅</string>
			<key>Value</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>6厅</string>
			<key>Value</key>
			<string>6</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>7厅</string>
			<key>Value</key>
			<string>7</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>8厅</string>
			<key>Value</key>
			<string>8</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>9厅</string>
			<key>Value</key>
			<string>9</string>
		</dict>
	</array>
	<key>Wei</key>
	<array>
		<dict>
			<key>Title</key>
			<string>0卫</string>
			<key>Value</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>1卫</string>
			<key>Value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>2卫</string>
			<key>Value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>3卫</string>
			<key>Value</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>4卫</string>
			<key>Value</key>
			<string>4</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>5卫</string>
			<key>Value</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>6卫</string>
			<key>Value</key>
			<string>6</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>7卫</string>
			<key>Value</key>
			<string>7</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>8卫</string>
			<key>Value</key>
			<string>8</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>9卫</string>
			<key>Value</key>
			<string>9</string>
		</dict>
	</array>
</dict>
</plist>
