<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>东</string>
		<key>Value</key>
		<string>东</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>南</string>
		<key>Value</key>
		<string>南</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>西</string>
		<key>Value</key>
		<string>西</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>北</string>
		<key>Value</key>
		<string>北</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>东南</string>
		<key>Value</key>
		<string>东南</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>西南</string>
		<key>Value</key>
		<string>西南</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>西北</string>
		<key>Value</key>
		<string>西北</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>东北</string>
		<key>Value</key>
		<string>东北</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>南北</string>
		<key>Value</key>
		<string>南北</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>东西</string>
		<key>Value</key>
		<string>东西</string>
	</dict>
</array>
</plist>
